.article_footer {
    font-family: var(--sans-serif-font);
    font-size: 0.8rem;
    border-top: 1px var(--meta-text-color) dashed;
    margin: 3px 0;
    color: var(--meta-text-color);
  }

  .article_footer a {
      /* Shawn doesn't like color */
      color: var(--meta-text-color);
  }

  .article_footer .date {
      text-align: left;
      width: 49%;
      display: inline-block;
  }

  .article_footer .nav {
      text-align: right;
      width: 50%;
      display: inline-block;
  }

  /* This is for editing tools when logged in */
  .article_footer form {
    display: inline-block;
  }

  footer {
    padding: 20px 10px 100px 10px;
    font-family: var(--sans-serif-font);
    font-size: 0.8rem;
    line-height: 1.5 !important;
    color: var(--secondary-text-color);
  }

  footer a {
    /* Shawn doesn't like color */
    color: var(--secondary-text-color);
    text-decoration: none;
    border-bottom: 0.5px solid;
  }

  footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  footer div {
    display: flex;
    justify-content: center;
  }

  footer ul, .article_footer ul {
    margin: 0;
    padding: 0;
  }

  footer li, .article_footer li {
    margin: 1px 0;
    list-style: none;
    display: inline-block;
  }

  footer li:after, .article_footer li:after {
    content: " \00b7";
  }

  footer li:last-child:after, .article_footer li:last-child:after {
    content: none;
  }

  .kb-club {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
  }

  .kb-club a {
    text-decoration: none;
    font-weight: bold;
    padding: .25rem 0;
    font-family: var(--sans-serif-font);
    transition: .4s;
    border: none;
  }

  .kb-club a:hover {
    background: #4BAF50;
    text-decoration: none !important;
    border: none;
  }

  .kb-club-bg,
  .kb-club-no-bg {
    border: 2px solid #4BAF50 !important;
    padding: .25rem .5rem;
  }

  .kb-club-bg {
    background: #4BAF50;
  }

  @media (prefers-color-scheme: dark) {
    .kb-club-no-bg {
      color: var(--text-color);
    }

    .kb-club a {
      color: #212121;
    }

    .kb-club a:hover .kb-club-no-bg {
      color: #212121;
    }
  }
