@import "vars.css";
@import "footer.css";

html {
  font-family: var(--serif-font);
  font-size: 18px;
  line-height: 1.5;
}

body {
	margin: 0;
  padding: 0;
  background: var(--main-bg-color);
	color: var(--text-color);
}

header {
	padding: 5px 0;
}

section {
	background-color: var(--secondary-bg-color);
}

section #content {
	padding: 1rem;
}

header p,
section #content,
footer div {
	max-width: 700px;
  margin: auto;
}

h1 {
  font-family: var(--sans-serif-font);
  text-align: center;
	margin: 0;
	padding: 1rem 0;
	font-size: 1.8rem;
}

h1 a {
	/* Shawn doesn't like color */
	color: var(--secondary-text-color);
}

h1, h2, h3, h4 {
	color: var(--secondary-text-color);
  line-height: 1.1;
}

p {
	margin: 0.7em 0;
}

h1, h2, h3, h4, h5, header {
  font-family: var(--sans-serif-font);
	font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, header a {
  text-decoration: none;
  border: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, header a:hover {
  text-decoration: none;
  border: none;
}

a {
	/* Shawn doesn't like color */
	color: var(--text-color);
	border-bottom: 0.5px solid;
	text-decoration: none;
}

a:hover {
  background-color: var(--a-hover-bg-color);
  filter: var(--a-hover-brightness);
	border-bottom: 1px solid;
}

#content h1 a {
  color: var(--secondary-text-color);
}

#content ol, #content ul {
	padding-left: 1.5em;
}

#content a:hover {
  background-color: var(--a-secondary-hover-bg-color);
  filter: var(--a-secondary-hover-brightness);
}

hr {
	border: 1px dashed;
}

/* Header */
header {
	background-color: var(--main-bg-color);
  color: var(--text-color);
}

header a {
  /* Shawn doesn't like color */
  color: var(--text-color);
}

header p {
	text-align: center;
	font-size: 0.85rem;
}

header p .name {
	text-transform: uppercase;
}

#content .post_list {
	font-family: var(--sans-serif-font);
}

#content .post_list {
  margin: 0;
  padding: 0;
}

#content .post_list li {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content .post_list li a {
  text-decoration: none;
  border-bottom: none;
}

#content .post_list li a:hover {
  border-bottom: 1px solid;
}

#content .post_list li .date {
  font-size: 0.7rem;
  color: var(--meta-text-color);
  display: block;
}

.blog_landing_posts {
  margin-left: 0.5rem !important;
}

.blog_landing_posts .new_post {
  font-size: 0.6em;
  border-bottom: 1px solid;
}

/* Quotes */
/* Style heavily borrowed from https://davesmyth.com */
.quote,
blockquote {
  filter: var(--bq-brightness);
  margin: 1em 0;
  padding: 1em 1.25em;
  background-color: var(--alt-secondary-bg-color);
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Code blocks */
code, pre {
  font-family: var(--mono-font);
  font-size: 0.8rem;
}

p code,
li code {
	background-color: var(--code-bg-color);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
}

pre {
	color: #ccc;
	background-color: var(--pre-bg-color);
	padding: 15px 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
  white-space: pre;
}

pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.class { color: #A020F0; font-weight: bold; }
pre span.comment { color: #00FFFF; }
pre span.constant { color: #008B8B; }
pre span.escape { color: #6A5ACD; }
pre span.expr { color: #22FFCC; }
pre span.global { color: #11AA44; }
pre span.ident { color: #CCCCCC; }
pre span.keyword { color: #A52A2A; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.module { color: #A020F0; font-weight: bold; }
pre span.number { color: #DD00DD; }
pre span.punct { color: #6A5ACD; }
pre span.regex { color: #DD00DD; }
pre span.string { color: #DD00DD; }
pre span.symbol { color: #008B8B; }

/* Edit post */

form[name=edit] input[name=title] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] input[name=tags] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] textarea {
  font-family: var(--serif-font);
	font-size: 100%;
	line-height: 1.3em;
	width: 100%;
	height: 25em;
}

/* Flair image styles for linking to Flickr */
div.flair {
	float:right;
	position: relative;
	margin: 1em 0 0.5em 1em;
	font-size: 0.7rem;
}
div.flair img {
	max-width: 40vw;
}
div.flair div.text-backing,
div.flair div.text {
	position:absolute;
	bottom:5px;
	left:0;
	height:1.5em;
	margin:0;
	padding:0px;
}
div.flair div.text-backing {
	background: var(--flair-text-color);
  opacity:0.8;
}
div.flair div.text {
	margin: 0 0 0 0.5em;
	padding: 0 0.5em;
	background: #222;
	font-family: var(--sans-serif-font);
	white-space: nowrap;
	color: var(--flair-text-color);
  filter: alpha(opacity=85);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  -moz-opacity: 0.85;
	opacity:0.85;
}
div.flair div.text a:link,
div.flair div.text a:visited,
div.flair div.text a:active {
	color: var(--flair-text-color);
}
/* END flair image styles */

.caveat {
  font-family: var(--sans-serif-font);
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.3em;
}

/* Move image down to cover underline link text */
a img {
	position:relative; bottom:-6px;
}

/* Special image borders and whitespace */
body img {
	background-color: var(--secondary-bg-color);
	max-width: 100%;
	height: auto;
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  border-radius: 5px;
}

/* Phone tweaks */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}
