/* https://www.rapidtables.com/convert/color/cmyk-to-rgb.html */
/* Shades and compliments - https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
/* Sw1 - Light Blue and Slate */
/* Sw2 - #237 (pp146) Dictionary of Color Combinations */
:root {
  --sans-serif-font: "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --serif-font: -apple-system-ui-serif, ui-serif, Georgia, "Nimbus Roman No9 L", serif;;
  --mono-font: 'SF Mono', SFMono-Regular, ui-monospace, 'Inconsolata', 'Monaco', 'DejaVu Sans Mono', Menlo, Consolas, monospace;

  /*--main-bg-color: #f0f8ff;*/  /* Sw1 - Light Blue */
  --main-bg-color: #96BFE6;  /* Sw2 - Salvia Blue C41 M25 Y10 K0*/
  /*--secondary-bg-color: #fcfcfc;*/  /* Sw1 - Whitish */
  --secondary-bg-color: #f0f8ff;  /* Sw2 - Light Blue */
  --alt-secondary-bg-color: #f0fcfb;

  /*--text-color: #464646;*/  /* Sw1 */
  --text-color: #651300;  /* Sw2 - Madder Brown C36 M88 Y100 K38*/
  /*--a-hover-bg-color: #fc1fcfc; */  /* Sw1 */
  --a-hover-bg-color: var(--main-bg-color);  /* Sw2 */
  --a-hover-brightness: brightness(104%);  /* Sw2 */
  /*--secondary-text-color: #28425E;  /* Sw1 - Slate Blue */
  --secondary-text-color: #551000;  /* Sw2 - Madder Brown - Dark */
  /*--a-secondary-hover-bg-color: #f0f8ff;*/
  --a-secondary-hover-bg-color: var(--secondary-bg-color);  /* Sw2 - Salvia Blue - Light */
  --a-secondary-hover-brightness: brightness(97%);  /* Sw2 */
  --meta-text-color: #979680;
  --flair-text-color: #bbb;

  --comment-button-text-color: #eee;
  /*--comment-button-bg-color: var(--secondary-text-color);*/  /* Sw1 */
  --comment-button-bg-color: #A10B2B;  /* Sw2 - Carmine Red C25 M95 Y80 K16 */
  --comment-time-brightness: brightness(150%);

  --pre-bg-color: #222;
  --code-bg-color: #ddd;

  --bq-brightness: brightness(120%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #121212;  /* Sw1 - Blackish */
    --secondary-bg-color: #1F1B24;  /* Sw1 - Purple-Blackish */
    --alt-secondary-bg-color: #201d25;

    --text-color: #eee;
    --a-hover-bg-color: #666699;
    --secondary-text-color: #ddd;
    --a-secondary-hover-bg-color: #333;
    --meta-text-color: #bbb;

    --comment-button-text-color: #28425E;  /* Slate Blue */
    --comment-button-bg-color: #96BFE6;  /* Salvia Blue */
    --comment-time-brightness: brightness(50%);

    --pre-bg-color: #333;
    --code-bg-color: #333;

    --bq-brightness: brightness(80%);
  }
}
